<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/CSS/style.css" rel="stylesheet" />
</head>
<body>
    <div class="header-page">
        <h1>Admin</h1>
        <a href="/Users/Logout"> Đăng xuất</a>  
     </div>
    <div class="wrapper">
        <div class="content-left">
            <ul>
                <li> @Html.ActionLink("Quản lý sinh viên", "Index", "Students")</li>
                <li> @Html.ActionLink("Quản lý giảng viên", "Index", "Teachers")</li>
                <li>@Html.ActionLink("Quản lý các học phần", "Index", "Subjects")</li>
                <li>@Html.ActionLink("Quản lý Phiếu khảo sát", "Index", "ContentSurveys")</li>
            </ul>
        </div>
        <div class="content-right">
            @RenderBody()
        </div>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>