@model IEnumerable<UET_BTL_VERSION_1.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách các tài khoản</h2>


<table class="table">
    <tr>
        <th>
            STT
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassWord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>

        <th></th>
    </tr>
    @{ int i = 0; }
    @foreach (var item in Model)
    {
        i = i + 1;
        <tr>
             <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassWord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>


        </tr>
    }

</table>
