@model IEnumerable<UET_BTL_VERSION_1.Models.Subject>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassRoom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeTeach)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassRoom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeTeach)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubjectID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubjectID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubjectID })
        </td>
    </tr>
}

</table>
