@model IEnumerable<UET_BTL_VERSION_1.Models.Subject>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách các học phần</h2>

@{ int k = 0; }
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            STT
        </th>
        <th>
           Tên học phần
        </th>
        <th>
           Mã học phần
        </th>
        <th>
           Số tín chỉ
        </th>
        <th>
           Phòng học
        </th>
        <th>
            Thời gian,tiết
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        k = k + 1;
        <tr>
            <td>
                @k
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeTeach)
            </td>
            <td>
                @Html.ActionLink("Danh sách sinh viên", "ShowClass", new { id = item.SubjectID }) |
                @Html.ActionLink("Kết quả đánh giá", "ShowResultSurvey", new { id = item.SubjectID }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.SubjectID })
            </td>
        </tr>
    }

</table>
<form action="/Subjects/ImportSubject" method="post" enctype="multipart/form-data">
    Import một danh sách lớp học phần từ excel:<br>
    <input type="file" name="fileUpload">
    <br>
    <input type="submit" value="Import">
</form> 