@model IEnumerable<UET_BTL_VERSION_1.Models.Subject>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách các học phần</h2>

@{ int k = 0; }
<table class="table">
    <tr>
        <th>
            STT
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassRoom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeTeach)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        k = k + 1;
        <tr>
            <td>
            @k
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeTeach)
            </td>
            <td>
                @Html.ActionLink("Danh sách sinh viên", "ShowClass", new { id = item.SubjectID }) |
                @Html.ActionLink("Kết quả đánh giá", "ShowResultSurvey", new { id = item.SubjectID }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.SubjectID })
            </td>
        </tr>
    }

</table>
