
@model IEnumerable<UET_BTL_VERSION_1.Models.StudentDetail>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Danh sách cả lớp môn học @Html.DisplayFor(model => model.FirstOrDefault().Subject.Name)
    @Html.DisplayFor(model => model.FirstOrDefault().Subject.SubjectCode)
</h2>
<h2>giảng viên:  @Html.DisplayFor(model => model.FirstOrDefault().Teacher.Name)</h2>


<div class="header-table">
    <div class="item-header stt" >STT</div>
    <div class="item-header hoten">Họ tên</div>
    <div class="item-header mssv" >Mã sinh viên</div>
    <div class="item-header ngaysinh" >Ngày sinh</div>
    <div class="item-header khoahoc" >Khóa học</div>
    <div class="item-header email" >Email</div>
</div>
<div class="content-table">
    <table class="table table-striped table-bordered table-hover">
        @{ int i = 0;}
        @foreach (var item in Model)
        {
            i = i + 1;
            var date = item.Student.DateOfBirth.ToString().Substring(0, 10);
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.StudentCode)
                </td>
                <td>
                    @date
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Course)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Email)
                </td>

            </tr>
        }
    </table>
</div>

<style>
   
</style>

