@model IEnumerable<UET_BTL_VERSION_1.Models.Survey>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Point)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentSurvey.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentDetail.NoteSurvey)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Point)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContentSurvey.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentDetail.NoteSurvey)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SurveyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SurveyID })
        </td>
    </tr>
}

</table>
