@using WebSiteBanSach.Models;
@model  List<GioHang>
@{
    ViewBag.Title = "Sửa giỏ hàng";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

<table>
    <tr>
        <td>Mã sách </td>
        <td>Tên sách</td>
        <td>Đơn giá</td>
        <td>Số lượng</td>
        <td>Thành tiền</td>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.iMaSach </td>
        <td>@item.sTenSach</td>
        <td>@item.dDonGia</td>
       
        <td>@item.dThanhTien</td>
       
        @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @iMaSP = item.iMaSach }))
        {
            <td>@Html.TextBox("txtSoLuong", item.iSoLuong)</td>
            <td><input type="submit" value="Cập nhật" /></td>
            <td> @Html.ActionLink("Xóa bỏ","XoaGioHang",new { @iMaSP = item.iMaSach })</td>
        }
    </tr>

    }
</table>
