@model IEnumerable<UET_BTL.Model.Entities.ContentSurvey>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="header" style="font-weight:bold;color:blue;">Danh sách các tiêu chí đánh giá</h2>

<p>
    @Html.ActionLink("Thêm tiêu chí mới và xóa dữ liệu cũ", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>

<div class="content-teacher">
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr class="btn-primary">
                    <th>STT</th>
                    <th>
                        Tiêu chí đánh giá
                    </th>
                    <th>Tùy chỉnh</th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 0; }
                @foreach (var item in Model)
                {
                    i = i + 1;
                    <tr class="table-striped">
                        <td>
                            @i
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Text)
                        </td>
                        <td>
                            @Html.ActionLink("sửa", "Edit", new { id = item.ContentSurveyID }, htmlAttributes: new { @class = "btn btn-warning" })
                            <a href="#" class="btn btn-danger delete-ContentSurvey" id="@item.ContentSurveyID">Xóa</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
<div class="delete-survey-form">
    <div class="add-tab">
        <div class="header-tab">
            <h5 class="text-center">Xóa tiêu chí đánh giá</h5>
        </div>
        <div class="information-content  table-responsive">
            <form action="#">
                <table class="table  ">

                    <tr>
                        <td>Tên tiêu chí</td>
                        <td><input name="Text" type="text" disabled class="input-information name" value="" maxlength="200" id="DsurveyName" required=""></td>
                    </tr>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>
                                <div class="bottom-button">
                                    <a class='btn btn-danger btn-delete'>Xóa</a>
                                </div>
                                <div class="bottom-button">
                                    <a class='btn btn-success btn-cancle'>Hủy</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </form>

        </div>

    </div>
</div>

@section scripts
{
    @Scripts.Render("~/survey/js")
}
