@model IEnumerable<UET_BTL_VERSION_1.Models.StudentDetail>

@{
    ViewBag.Title = "ShowClass";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}

<h2>
    Danh sách cả lớp môn học @Html.DisplayFor(model => model.FirstOrDefault().Subject.Name)
    @Html.DisplayFor(model => model.FirstOrDefault().Subject.SubjectCode)
</h2>


<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            STT
        </th>
        <th>
            Họ tên
        </th>
        <th>
            Mã sinh viên
        </th>
        <th>
            Khóa học
        </th>
        <th>
            Email
        </th>
      
    </tr>
    @{ int i = 0;}
    @foreach (var item in Model)
    {
        i = i + 1;
        <tr>
             <td>
                    @i
             </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Course)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Email)
            </td>

        </tr>
    }

</table>
